*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header
{
    padding: 20px 0;
    background: #fff;
}
.container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 48;
}

nav {
    display: flex;
    gap: 20px;
}
.Registered
{
    background-color: #2E7AF4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    width: 167;
    margin-right: 200px;
    margin-left: 50px;

}
